body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: rgba(206, 233, 255, 0.774);
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(9, 87, 160);
  border: .1px solid rgb(0, 0, 0);
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 130px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 130px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
button{
  padding: 5px 10px;
  width: 150px;
  color: white;
  background: blue;
  border: 1px solid rgb(0, 0, 117);
  border-radius: 2px;
  margin: 2px auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.137);
  outline: none;
  font-weight: bold;
}
button:hover{
  background-color: rgb(9, 87, 160);
}
h1{
  text-align: center;
}
.board{
  box-shadow: 2px 2px 5px 0px rgba(82, 82, 82, 0.459);
}
